
.container {
    position:relative;
    width:400px;
    height:1500px;
    border:1px solid red;
}
.box{
    border:2px solid black;
    width:200px;
    height: 200px;
    position:sticky;
    
}

.box1{
    
    width:200px;
    height:200px;
    background-color:rgb(239, 88, 24);
    top: 0px;
}


.box2{
   
    width:160px;
    height:160px;
    left:20px;
    top:20px;
    background-color:rgb(215, 31, 154);
    
}


.box3{
    width:120px;
    height:120px;
    left:40px;
    top: 40px;
    background-color:rgb(80, 16, 228);
}


.box4{

    width:80px;
    height:80px;
    left:60px;
    top: 60px;
    background-color:rgb(237, 169, 10);
}